.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.logo {
    margin-bottom: 2rem;
}

.search-results {
    flex-grow: 1;
    overflow-y: auto;
}

.no-results {
    white-space: pre;
}

.player {
    margin-top: 2rem;
}

.policies {
    margin-top: auto;
}

.nav-link {
    color: #007bff;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}