.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-lg {
    font-size: 1.25rem;
}